[submodule "public"]
	path = public
	url = git@github.com:NaelAwayes/NaelAwayes.github.io.git
[submodule "themes/dimension"]
	path = themes/dimension
	url = https://github.com/sethmacleod/dimension.git
